.grid_container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100px 300px;
    grid-auto-rows: 250px;


}

.grid_item {
    background-color: rgb(64, 226, 43);
    color: azure;
    margin: 4px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;

}
