.grid_container {
    background-color: antiquewhite;
    display: grid;
    /* width: 800px; */
    padding: 0.5rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    
   
}

.grid_item {
    background-color: rgb(64, 226, 43);
    color: azure;
    margin: 4px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
